/*-------------- basic styling --------------*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto Mono" !important;
    /* background: #2e2929 !important; */
    background: rgb(66, 64, 64);
    color: #fff !important;
    line-height: 1.5;
}

/*-------------- index --------------*/

main {
  padding: 4rem;
  min-height: 367px
}

main .icons {
  margin-top: 1rem;
}
main .icons a {
  padding: 0.4rem;
}

main .icons a:hover {
  color: #c7ee1a;
  transition: all 0.5s ease-out;
}

main #home {
  overflow: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

h1, h2 {
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2.job-title {
  /* margin-bottom: 2rem; */
  padding: 0.2rem 1rem;
  background: rgba(173, 156, 156, 0.5);
  background: auto;
}

/* #home .name {
  margin-top: 15vh;
} */


/* h1.name:hover {
    color: #1ad5ee5d;
    transition: all 0.5s ease-out;
} */

.cite {
  text-align: center;
  padding: 2rem;
  font-size: x-large;
  color: rgba(230, 216, 20, 0.808);
}

.portfolio-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 7rem;
}

@media screen and (max-width: 768px) {
  main {
      align-items: center;
      text-align: center;
      
  }
  main #home h1 {
      margin-top: 10vh;
  }
  main .name {
      /* line-height: 1; */
      margin-bottom: 1rem;
  }
  .portfolio-links {
    flex-wrap: nowrap;
    margin-top: 0rem;
    margin-bottom: 7rem;
  }
}

@media screen and (max-width: 500px) {
  main {
      padding: 2rem;
  }
  main #home h1 {
      margin-top: 10vh;
  }
  main .name {
      margin-top : 1rem;
      font-size: 5rem;
  }
}

@media screen and (max-width: 470px) {
  main {
      align-items: center;
      text-align:center;
      /* padding: 0.2rem 1rem; */
      font-size: smaller;
  }
  #home h1 {
      margin-top: 50px;
  }
}

@media screen and (max-width: 400px) {
  main {
      align-items: center;
      text-align:center;
      padding: 0.2rem 1rem;
  }
  #home h1 {
      margin-top: 50px;
  }
}



/*-------------- typewriter effect --------------*/
.typewriter {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: .17em;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    /* animation: typing 3.5s steps(30), 
    blinking-cursor .5s step-end infinite; */
    animation: typing 4s steps(40) 1s 1 normal both,
  blinking-cursor 500ms steps(40) infinite normal;

}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blinking-cursor {
    from, to { border-color: transparent }
    /* 50% { border-color: white; } */
}
/* 
@keyframes blinking-cursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
} */




/*--------------- About/Contact --------------- */


.menu-btn {
    position: absolute;
    /* z-index: 3; */
    right: 35px;
    top: 35px;
    cursor: pointer;
    /* transition: all 0.5s ease-out; */
    padding-bottom: 4px;
}

/* .row {
    padding-bottom: 4px;
} */

nav .menu-btn a:hover {
    color: rgba(106, 99, 167, 0.712);
}

.top-btn {
  display: none;
}

  /*---new style to add --*/
@media screen and (max-width: 700px) {
  .row {display: none;}
  .top-btn {
      display: block;
  }
  nav {
      position: fixed;
      z-index: 2;
      width: 100%; 
  }
  main {
      padding: 4rem;
      /* min-height: 367px; */
  }
}




.contact-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.contact-boxes div {
  font-size: 2rem;
  border: 3px #fff solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out; 
}
.contact-boxes div:hover {
  padding: 0.5rem 1.5rem;
  /* background: #eece1a; */
  color: #000; 
}
.contact-boxes div:hover span {
  color: #000; 
}

h1.lg-heading {
  font-size: 6rem; 
}
h1.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(73, 73, 73, 0.5);
}

.about-info {
display: grid;
grid-gap: 30px;
grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
grid-template-columns: repeat(3, 1fr); }
.about-info .bio-image {
grid-area: bioimage;
margin: auto;
border-radius: 50%;
border: #12e246 3px solid; }
.about-info .bio {
grid-area: bio;
font-size: 1.5rem; }

.about-info .job-1 {
grid-area: job1; }
.about-info .job-2 {
grid-area: job2; }
.about-info .job-3 {
grid-area: job3; }
.about-info .job {
  background: #515151;
  padding: 0.5rem;
  /* border-bottom: #eece1a 5px solid;  */
}
